<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="container">
    <div class="card">

        <div class="left">
            <h2>Create Account</h2>

            <form method="POST">
                <input name="username" placeholder="Username">
                <input name="password" type="password" placeholder="Password">

                <select name="role">
                    <option>Investigator</option>
                    <option>Authority</option>
                </select>

                <button class="btn btn-success">Register</button>
            </form>

            <p>Already have an account? <a href="/login">Login</a></p>
        </div>

        <div class="right">
            <h1>Join Us</h1>
            <p>Create your secure evidence account today.</p>
        </div>

    </div>
</div>
</body>
</html>